@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif:opsz,wght@8..144,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto Serif", serif;
}

body {
  background-color: #ffedd5;
}

.content-geral {
  border: 1px solid red;
}

header {
  text-align: center;
  width: 40%;
  color: #2d2c2a;
  font-weight: 700;
}

header,
p {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

span {
  color: #995000;
}

.content-brunch {
  margin-top: 30px;
  width: 30%;
  height: 40px;
  background: #fed7aa;
  padding: 8px 16px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}

h2 {
  color: #2d2c2a;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.item-brunch {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item-cardapio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-top: 15px;
}

.item-cardapio h3 {
  align-items: flex-start;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #2d2c2a;
}

.item-cardapio span {
  padding-left: 265px;
  color: #2d2c2a;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}

p {
  width: 25%;
}

.content-bebida {
  margin-top: 30px;
  width: 30%;
  height: 40px;
  background: #fed7aa;
  padding: 8px 16px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}
